body {
    background-image: url("../images/abstract.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right bottom;
}

#drop-area{
    background-color: rgba(250,250,250,0.8);
    -moz-transition: all 1s ease;
    /* all other css properties */
}

#drop-area.dropping {
    background-color: #a0d3e8;
    -moz-transform: scale(1.1);
}

#drop-area.loading{
    background-color: #E6EA69;
    -moz-transform: scale(1.1);
}

.alertify-logs {
    font-size: 2em;
}